# Explore here

In [19]:
# Import
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_selection import chi2, SelectKBest

In [20]:
# Get data
data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv")
# data.to_csv("../data/raw/data.csv", index=False)
data

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [21]:
# Tamaño de mis datos
data.shape

(3140, 108)

In [22]:
# Informacion general de mis datos
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Dtype
---   ------                                                                         -----
 0    fips                                                                           int64
 1    TOT_POP                                                                        int64
 2    0-9                                                                            int64
 3    0-9 y/o % of total pop                                                         float64
 4    19-Oct                                                                         int64
 5    10-19 y/o % of total pop                                                       float64
 6    20-29                                                                          int64
 7    20-29 y/o % of total pop                                                       float64
 8    30-39                                                                          int64
 9    30-39 y/o % of total pop                                                       float64
 10   40-49                                                                          int64
 11   40-49 y/o % of total pop                                                       float64
 12   50-59                                                                          int64
 13   50-59 y/o % of total pop                                                       float64
 14   60-69                                                                          int64
 15   60-69 y/o % of total pop                                                       float64
 16   70-79                                                                          int64
 17   70-79 y/o % of total pop                                                       float64
 18   80+                                                                            int64
 19   80+ y/o % of total pop                                                         float64
 20   White-alone pop                                                                int64
 21   % White-alone                                                                  float64
 22   Black-alone pop                                                                int64
 23   % Black-alone                                                                  float64
 24   Native American/American Indian-alone pop                                      int64
 25   % NA/AI-alone                                                                  float64
 26   Asian-alone pop                                                                int64
 27   % Asian-alone                                                                  float64
 28   Hawaiian/Pacific Islander-alone pop                                            int64
 29   % Hawaiian/PI-alone                                                            float64
 30   Two or more races pop                                                          int64
 31   % Two or more races                                                            float64
 32   POP_ESTIMATE_2018                                                              int64
 33   N_POP_CHG_2018                                                                 int64
 34   GQ_ESTIMATES_2018                                                              int64
 35   R_birth_2018                                                                   float64
 36   R_death_2018                                                                   float64
 37   R_NATURAL_INC_2018                                                             float64
 38   R_INTERNATIONAL_MIG_2018                                                       float64
 39   R_DOMESTIC_MIG_2018                                                            float64
 40   R_NET_MIG_2018                                                                 float64
 41   Less than a high school diploma 2014-18                                        int64
 42   High school diploma only 2014-18                                               int64
 43   Some college or associate's degree 2014-18                                     int64
 44   Bachelor's degree or higher 2014-18                                            int64
 45   Percent of adults with less than a high school diploma 2014-18                 float64
 46   Percent of adults with a high school diploma only 2014-18                      float64
 47   Percent of adults completing some college or associate's degree 2014-18        float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   float64
 49   POVALL_2018                                                                    int64
 50   PCTPOVALL_2018                                                                 float64
 51   PCTPOV017_2018                                                                 float64
 52   PCTPOV517_2018                                                                 float64
 53   MEDHHINC_2018                                                                  int64
 54   CI90LBINC_2018                                                                 int64
 55   CI90UBINC_2018                                                                 int64
 56   Civilian_labor_force_2018                                                      int64
 57   Employed_2018                                                                  int64
 58   Unemployed_2018                                                                int64
 59   Unemployment_rate_2018                                                         float64
 60   Median_Household_Income_2018                                                   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         float64
 68   Total nurse practitioners (2019)                                               float64
 69   Total physician assistants (2019)                                              float64
 70   Total Hospitals (2019)                                                         float64
 71   Internal Medicine Primary Care (2019)                                          float64
 72   Family Medicine/General Practice Primary Care (2019)                           float64
 73   Total Specialist Physicians (2019)                                             float64
 74   ICU Beds_x                                                                     int64
 75   Total Population                                                               int64
 76   Population Aged 60+                                                            int64
 77   Percent of Population Aged 60+                                                 float64
 78   COUNTY_NAME                                                                    object
 79   STATE_NAME                                                                     object
 80   STATE_FIPS                                                                     int64
 81   CNTY_FIPS                                                                      int64
 82   county_pop2018_18 and older                                                    int64
 83   anycondition_prevalence                                                        float64
 84   anycondition_Lower 95% CI                                                      float64
 85   anycondition_Upper 95% CI                                                      float64
 86   anycondition_number                                                            int64
 87   Obesity_prevalence                                                             float64
 88   Obesity_Lower 95% CI                                                           float64
 89   Obesity_Upper 95% CI                                                           float64
 90   Obesity_number                                                                 int64
 91   Heart disease_prevalence                                                       float64
 92   Heart disease_Lower 95% CI                                                     float64
 93   Heart disease_Upper 95% CI                                                     float64
 94   Heart disease_number                                                           int64
 95   COPD_prevalence                                                                float64
 96   COPD_Lower 95% CI                                                              float64
 97   COPD_Upper 95% CI                                                              float64
 98   COPD_number                                                                    int64
 99   diabetes_prevalence                                                            float64
 100  diabetes_Lower 95% CI                                                          float64
 101  diabetes_Upper 95% CI                                                          float64
 102  diabetes_number                                                                int64
 103  CKD_prevalence                                                                 float64
 104  CKD_Lower 95% CI                                                               float64
 105  CKD_Upper 95% CI                                                               float64
 106  CKD_number                                                                     int64
 107  Urban_rural_code                                                               int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [23]:
# Búsqueda de duplicados
# display(data[data.duplicated(keep=False)])

data = data.drop_duplicates()
data

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [24]:
# Selección de atributos relevantes

# Eliminacion de columna "fips" representativa de codigo asignado a cada condado
data = data.drop("fips", axis=1)

In [25]:
# Agrupacion de rangos de edades mas amplia
data["0-19"] = data["0-9"] + data["19-Oct"]
data["20-49"] = data["20-29"] + data["30-39"] + data["40-49"]
data["50+"] = data["50-59"] + data["60-69"] + data["70-79"] + data["80+"]

# Columnas con rango de edades a eliminar
cols_to_drop = data.columns[1:19]
data = data.drop(columns=cols_to_drop)

In [26]:
# Columnas con datos porcentuales etnicos a eliminar, mantengo los datos totales en bruto
cols_to_drop = ["% White-alone", "% Black-alone", "% NA/AI-alone", "% Asian-alone", "% Hawaiian/PI-alone", "% Two or more races"]
data = data.drop(columns=cols_to_drop)

In [27]:
# Analisis de igualdad entre columna "TOT_POP" y "POP_ESTIMATE_2018"
equals = data["TOT_POP"] ==  data["POP_ESTIMATE_2018"]
display(equals.value_counts()) # Las columnas son exactamente iguales en sus datos, se procede a eliminar "POP_ESTIMATE_2018"
data = data.drop("POP_ESTIMATE_2018", axis=1)

True    3140
Name: count, dtype: int64

In [28]:
# Eliminacion de datos porcentuales de nivel academico, mantengo los datos totales en bruto
cols_to_drop = ["Percent of adults with less than a high school diploma 2014-18", 
                "Percent of adults with a high school diploma only 2014-18", 
                "Percent of adults completing some college or associate's degree 2014-18", 
                "Percent of adults with a bachelor's degree or higher 2014-18"]
data = data.drop(columns=cols_to_drop)

In [29]:
# Elimino rango de edades y mantengo los ya agrupados al inicio
cols_to_drop = ["Population Aged 60+", "Percent of Population Aged 60+"]
data = data.drop(columns=cols_to_drop)

In [30]:
# Eliminacion de datos de margen de error o incertidumbre y la prevalencia, mantengo los datos totales en bruto
cols_to_drop = ["anycondition_Lower 95% CI", "anycondition_Upper 95% CI", "anycondition_prevalence", 
                "Obesity_Lower 95% CI", "Obesity_Upper 95% CI", "Obesity_prevalence", 
                "Heart disease_Lower 95% CI", "Heart disease_Upper 95% CI", "Heart disease_prevalence", 
                "COPD_Lower 95% CI", "COPD_Upper 95% CI", "COPD_prevalence", 
                "diabetes_Lower 95% CI", "diabetes_Upper 95% CI", "diabetes_prevalence", 
                "CKD_Lower 95% CI", "CKD_Upper 95% CI", "CKD_prevalence"]
data = data.drop(columns=cols_to_drop)

In [31]:
# Eliminacion de datos que representan tasas porcentuales, grupos de edades diferentes a los agrupados y codigos de estado que no aportan
cols_to_drop = ["CI90LBINC_2018", "CI90UBINC_2018", "Unemployment_rate_2018", "STATE_FIPS", "county_pop2018_18 and older", 
                "Total Population", "COUNTY_NAME", "STATE_NAME", "CNTY_FIPS"]
data = data.drop(columns=cols_to_drop)

In [34]:
# Con la seleccion anterior de atributos relevantes reducimos el tamaño de nuestros datos en mas de la mitad
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 52 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   TOT_POP                                                                        3140 non-null   int64
 1   White-alone pop                                                                3140 non-null   int64
 2   Black-alone pop                                                                3140 non-null   int64
 3   Native American/American Indian-alone pop                                      3140 non-null   int64
 4   Asian-alone pop                                                                3140 non-null   int64
 5   Hawaiian/Pacific Islander-alone pop                                            3140 non-null   int64
 6   Two or more races pop                                                          3140 non-null   int64
 7   N_POP_CHG_2018                                                                 3140 non-null   int64
 8   GQ_ESTIMATES_2018                                                              3140 non-null   int64
 9   R_birth_2018                                                                   3140 non-null   float64
 10  R_death_2018                                                                   3140 non-null   float64
 11  R_NATURAL_INC_2018                                                             3140 non-null   float64
 12  R_INTERNATIONAL_MIG_2018                                                       3140 non-null   float64
 13  R_DOMESTIC_MIG_2018                                                            3140 non-null   float64
 14  R_NET_MIG_2018                                                                 3140 non-null   float64
 15  Less than a high school diploma 2014-18                                        3140 non-null   int64
 16  High school diploma only 2014-18                                               3140 non-null   int64
 17  Some college or associate's degree 2014-18                                     3140 non-null   int64
 18  Bachelor's degree or higher 2014-18                                            3140 non-null   int64
 19  POVALL_2018                                                                    3140 non-null   int64
 20  PCTPOVALL_2018                                                                 3140 non-null   float64
 21  PCTPOV017_2018                                                                 3140 non-null   float64
 22  PCTPOV517_2018                                                                 3140 non-null   float64
 23  MEDHHINC_2018                                                                  3140 non-null   int64
 24  Civilian_labor_force_2018                                                      3140 non-null   int64
 25  Employed_2018                                                                  3140 non-null   int64
 26  Unemployed_2018                                                                3140 non-null   int64
 27  Median_Household_Income_2018                                                   3140 non-null   int64
 28  Med_HH_Income_Percent_of_State_Total_2018                                      3140 non-null   float64
 29  Active Physicians per 100000 Population 2018 (AAMC)                            3140 non-null   float64
 30  Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         3140 non-null   float64
 31  Active Primary Care Physicians per 100000 Population 2018 (AAMC)               3140 non-null   float64
 32  Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  3140 non-null   float64
 33  Active General Surgeons per 100000 Population 2018 (AAMC)                      3140 non-null   float64
 34  Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         3140 non-null   float64
 35  Total nurse practitioners (2019)                                               3140 non-null   float64
 36  Total physician assistants (2019)                                              3140 non-null   float64
 37  Total Hospitals (2019)                                                         3140 non-null   float64
 38  Internal Medicine Primary Care (2019)                                          3140 non-null   float64
 39  Family Medicine/General Practice Primary Care (2019)                           3140 non-null   float64
 40  Total Specialist Physicians (2019)                                             3140 non-null   float64
 41  ICU Beds_x                                                                     3140 non-null   int64
 42  anycondition_number                                                            3140 non-null   int64
 43  Obesity_number                                                                 3140 non-null   int64
 44  Heart disease_number                                                           3140 non-null   int64
 45  COPD_number                                                                    3140 non-null   int64
 46  diabetes_number                                                                3140 non-null   int64
 47  CKD_number                                                                     3140 non-null   int64
 48  Urban_rural_code                                                               3140 non-null   int64
 49  0-19                                                                           3140 non-null   int64
 50  20-49                                                                          3140 non-null   int64
 51  50+                                                                            3140 non-null   int64
dtypes: float64(22), int64(30)
memory usage: 1.2 MB