# Explore here

In [22]:
# Import
import pandas as pd
import numpy as np

from sklearn.feature_selection import chi2, SelectKBest

In [23]:
# Get data
data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv")
# data.to_csv("../data/raw/data.csv", index=False)
data

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [24]:
# Tamaño de mis datos
data.shape

(3140, 108)

In [25]:
# Informacion general de mis datos
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Dtype
---   ------                                                                         -----
 0    fips                                                                           int64
 1    TOT_POP                                                                        int64
 2    0-9                                                                            int64
 3    0-9 y/o % of total pop                                                         float64
 4    19-Oct                                                                         int64
 5    10-19 y/o % of total pop                                                       float64
 6    20-29                                                                          int64
 7    20-29 y/o % of total pop                                                       float64
 8    30-39                                                                          int64
 9    30-39 y/o % of total pop                                                       float64
 10   40-49                                                                          int64
 11   40-49 y/o % of total pop                                                       float64
 12   50-59                                                                          int64
 13   50-59 y/o % of total pop                                                       float64
 14   60-69                                                                          int64
 15   60-69 y/o % of total pop                                                       float64
 16   70-79                                                                          int64
 17   70-79 y/o % of total pop                                                       float64
 18   80+                                                                            int64
 19   80+ y/o % of total pop                                                         float64
 20   White-alone pop                                                                int64
 21   % White-alone                                                                  float64
 22   Black-alone pop                                                                int64
 23   % Black-alone                                                                  float64
 24   Native American/American Indian-alone pop                                      int64
 25   % NA/AI-alone                                                                  float64
 26   Asian-alone pop                                                                int64
 27   % Asian-alone                                                                  float64
 28   Hawaiian/Pacific Islander-alone pop                                            int64
 29   % Hawaiian/PI-alone                                                            float64
 30   Two or more races pop                                                          int64
 31   % Two or more races                                                            float64
 32   POP_ESTIMATE_2018                                                              int64
 33   N_POP_CHG_2018                                                                 int64
 34   GQ_ESTIMATES_2018                                                              int64
 35   R_birth_2018                                                                   float64
 36   R_death_2018                                                                   float64
 37   R_NATURAL_INC_2018                                                             float64
 38   R_INTERNATIONAL_MIG_2018                                                       float64
 39   R_DOMESTIC_MIG_2018                                                            float64
 40   R_NET_MIG_2018                                                                 float64
 41   Less than a high school diploma 2014-18                                        int64
 42   High school diploma only 2014-18                                               int64
 43   Some college or associate's degree 2014-18                                     int64
 44   Bachelor's degree or higher 2014-18                                            int64
 45   Percent of adults with less than a high school diploma 2014-18                 float64
 46   Percent of adults with a high school diploma only 2014-18                      float64
 47   Percent of adults completing some college or associate's degree 2014-18        float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   float64
 49   POVALL_2018                                                                    int64
 50   PCTPOVALL_2018                                                                 float64
 51   PCTPOV017_2018                                                                 float64
 52   PCTPOV517_2018                                                                 float64
 53   MEDHHINC_2018                                                                  int64
 54   CI90LBINC_2018                                                                 int64
 55   CI90UBINC_2018                                                                 int64
 56   Civilian_labor_force_2018                                                      int64
 57   Employed_2018                                                                  int64
 58   Unemployed_2018                                                                int64
 59   Unemployment_rate_2018                                                         float64
 60   Median_Household_Income_2018                                                   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         float64
 68   Total nurse practitioners (2019)                                               float64
 69   Total physician assistants (2019)                                              float64
 70   Total Hospitals (2019)                                                         float64
 71   Internal Medicine Primary Care (2019)                                          float64
 72   Family Medicine/General Practice Primary Care (2019)                           float64
 73   Total Specialist Physicians (2019)                                             float64
 74   ICU Beds_x                                                                     int64
 75   Total Population                                                               int64
 76   Population Aged 60+                                                            int64
 77   Percent of Population Aged 60+                                                 float64
 78   COUNTY_NAME                                                                    object
 79   STATE_NAME                                                                     object
 80   STATE_FIPS                                                                     int64
 81   CNTY_FIPS                                                                      int64
 82   county_pop2018_18 and older                                                    int64
 83   anycondition_prevalence                                                        float64
 84   anycondition_Lower 95% CI                                                      float64
 85   anycondition_Upper 95% CI                                                      float64
 86   anycondition_number                                                            int64
 87   Obesity_prevalence                                                             float64
 88   Obesity_Lower 95% CI                                                           float64
 89   Obesity_Upper 95% CI                                                           float64
 90   Obesity_number                                                                 int64
 91   Heart disease_prevalence                                                       float64
 92   Heart disease_Lower 95% CI                                                     float64
 93   Heart disease_Upper 95% CI                                                     float64
 94   Heart disease_number                                                           int64
 95   COPD_prevalence                                                                float64
 96   COPD_Lower 95% CI                                                              float64
 97   COPD_Upper 95% CI                                                              float64
 98   COPD_number                                                                    int64
 99   diabetes_prevalence                                                            float64
 100  diabetes_Lower 95% CI                                                          float64
 101  diabetes_Upper 95% CI                                                          float64
 102  diabetes_number                                                                int64
 103  CKD_prevalence                                                                 float64
 104  CKD_Lower 95% CI                                                               float64
 105  CKD_Upper 95% CI                                                               float64
 106  CKD_number                                                                     int64
 107  Urban_rural_code                                                               int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [26]:
# Búsqueda de duplicados
# display(data[data.duplicated(keep=False)])

data = data.drop_duplicates()
data

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [27]:
# Selección de atributos relevantes
data["0-19"] = data["0-9"] + data["19-Oct"]
data["20-49"] = data["20-29"] + data["30-39"] + data["40-49"]
data["50+"] = data["50-59"] + data["60-69"] + data["70-79"] + data["80+"]

# Columnas con rango de edades a eliminar
cols_to_drop = data.columns[2:20]
data = data.drop(columns=cols_to_drop)

# Columnas con datos porcentuales etnicos a eliminar
cols_to_drop = ["% White-alone", "% Black-alone", "% NA/AI-alone", "% Asian-alone", "% Hawaiian/PI-alone", "% Two or more races"]
data = data.drop(columns=cols_to_drop)

data

,fips,TOT_POP,White-alone pop,Black-alone pop,Native American/American Indian-alone pop,Asian-alone pop,Hawaiian/Pacific Islander-alone pop,Two or more races pop,POP_ESTIMATE_2018,N_POP_CHG_2018,...,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code,0-19,20-49,50+
0,1001,55601,42660,10915,267,681,62,1016,55601,158,...,13.8,5462,3.1,2.9,3.3,1326,3,14424,21549,19628
1,1003,218022,190301,19492,1684,2508,146,3891,218022,5403,...,13.1,20520,3.2,3.0,3.5,5479,4,51670,76130,90222
2,1005,24881,12209,12042,164,113,46,307,24881,-277,...,20.6,3870,4.5,4.2,4.8,887,6,5692,9543,9646
3,1007,22400,17211,4770,98,53,26,242,22400,-155,...,14.9,2511,3.3,3.1,3.6,595,2,5052,9180,8168
4,1009,57840,55456,950,378,185,70,801,57840,13,...,14.5,6017,3.4,3.2,3.7,1507,2,14665,21100,22075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,40397,592,665,435,68,894,43051,-496,...,9.6,2834,2.6,2.4,2.8,821,5,12430,17270,13351
3136,56039,23081,21971,175,211,326,35,363,23081,-180,...,8.0,1360,2.4,2.2,2.6,447,5,4569,10483,8029
3137,56041,20299,19356,168,288,96,30,361,20299,-157,...,11.2,1500,3.0,2.8,3.2,430,5,6326,7245,6728
3138,56043,7885,7450,40,143,65,8,179,7885,-150,...,12.1,686,3.4,3.2,3.7,207,6,1971,2518,3396
3139,56045,6967,6485,48,123,135,2,174,6967,-19,...,12.7,644,3.4,3.1,3.6,185,6,1559,2321,3087